div.download {
	margin: 0.5em 0 0.5em 0;
}

div.download > table.download-header {
	margin: 0;
	padding: 0;
}

div.download > table.download-header > td {
	margin: 0;
	padding: 0;
}

div.download > span.download-info {
	font-weight: bold;
}

div.download > ul.download-metadata {
	margin: 0.25em 0 0.25em 0;
	padding: 0;
	list-style: none;
}

div.download > ul.download-metadata > li {
	padding: 0;
	margin: 0.25em 0 0.25em 0;
}
